/*==========
 * 아래 선언은 전역으로 사용되는 SCSS 변수입니다.
 * vue.config.js에서 전역으로 사용할 수 있도록 설정되었으므로 vue style에서 사용 가능합니다.
 * 내용 변경시 로컬 서버 재시작이 필요합니다.
 *==========*/
$primary   : #EE5555;
$secondary : #FEEEEE;
$accent    : #f6942a;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$invalid   : #FF3333;

$space-base: 8px;
$body-font-size: 12px;
$body-line-height : 1.2;
$input-font-size: 12px;
$button-font-size: 12px !important;

// Theme color
$--color-text: #1a1a1c;
$--color-info: #a9a9a9;
$--color-primary: #ee5555;
$--color-invalid-message: #ee3030;

// icon font path, required
$--font-path: "~element-ui/lib/theme-chalk/fonts";

// ElementUI 네비게이션 메뉴 높이
$--navi-height: 59px;
