# Ignoring lint directories and files

# directories
/.idea
/.scannerwork
/coverage
/node_modules
/dist
/public
/src/assets

# configuration files
.eslintrc.js
babel.config.js
vue.config.js
jest.config.js
webpack.config.js
